__pycache__/

#ignore all text files
*.txt

#ignore all json files
*.json

#ignore all log files
*.log

#ignore the virtual environment
venv/

#ignore the .env file
.env    

Dockerfile

GPTAPITest.py
WebScraperTest.py